.alert{
    margin-top:auto;
}
body{
    margin-top: 0%;
    background-image: url(images.jpg); background-repeat: no-repeat; background-size: cover;
    padding: 0%;
    margin: 0%;
}
.U-19{
    font-weight: bolder;
}
.marquee{
    color: crimson; font-size: x-large;
}
.ABC{
    font-variant: small-caps; font-weight: bolder;
}
.describe:hover{
    color:black;
    background-color: azure;
}
table,tr,td,tbody{
    padding: 8px;
    margin: 2px; 
}
#table{
    border-collapse:separate;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(62, 55, 55, 0.15);
    /*background-color:rgb(11, 9, 9);*/
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/chess-board-87-gull-g.jpg);
    background-size: cover;
    color: rgb(209, 209, 235);
    border-color:black;
}
.input{
    background: transparent;
}
.input:hover{
    color:black;
    background-color: antiquewhite;
}
#rules:hover{
    color: black;
}
#rules{
    background-color: cornsilk;
    border: 1;
}
#box1{
    height: 90px;
    width:auto;
    background-color: rgb(240, 160, 39);
    border-radius: 5px;
    padding: 0%;
    margin: 0%;
}
.ullist{
    list-style: none;
}
